main {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.calculator {
    width: 100%;
    max-width: 500px;
}

.calculator-display > * {
    min-height: 32px;
    word-wrap: break-word;
}